@font-face
  font-weight 600
  font-family "AcariSans"
  font-style normal
  src url("/assets/fonts/AcariSans-SemiBold/AcariSans-SemiBold.eot")
  src url("/assets/fonts/AcariSans-SemiBold/AcariSans-SemiBold.woff2") format("woff2"),
    url("/assets/fonts/AcariSans-SemiBold/AcariSans-SemiBold.woff") format("woff"),
    url("/assets/fonts/AcariSans-SemiBold/AcariSans-SemiBold.ttf") format("truetype"),
    url("/assets/fonts/AcariSans-SemiBold/AcariSans-SemiBold.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 500
  font-family "Manrope"
  font-style normal
  src url("/assets/fonts/Manrope-Medium/Manrope-Medium.eot")
  src url("/assets/fonts/Manrope-Medium/Manrope-Medium.woff2") format("woff2"),
    url("/assets/fonts/Manrope-Medium/Manrope-Medium.woff") format("woff"),
    url("/assets/fonts/Manrope-Medium/Manrope-Medium.ttf") format("truetype"),
    url("/assets/fonts/Manrope-Medium/Manrope-Medium.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 700
  font-family "Manrope"
  font-style normal
  src url("/assets/fonts/Manrope-Bold/Manrope-Bold.eot")
  src url("/assets/fonts/Manrope-Bold/Manrope-Bold.woff2") format("woff2"),
    url("/assets/fonts/Manrope-Bold/Manrope-Bold.woff") format("woff"),
    url("/assets/fonts/Manrope-Bold/Manrope-Bold.ttf") format("truetype"),
    url("/assets/fonts/Manrope-Bold/Manrope-Bold.eot?#iefix") format("embedded-opentype")
  font-display swap

@font-face
  font-weight 800
  font-family "Manrope"
  font-style normal
  src url("/assets/fonts/Manrope-ExtraBold/Manrope-ExtraBold.eot")
  src url("/assets/fonts/Manrope-ExtraBold/Manrope-ExtraBold.woff2") format("woff2"),
    url("/assets/fonts/Manrope-ExtraBold/Manrope-ExtraBold.woff") format("woff"),
    url("/assets/fonts/Manrope-ExtraBold/Manrope-ExtraBold.ttf") format("truetype"),
    url("/assets/fonts/Manrope-ExtraBold/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype")
  font-display swap
