$font-family = "Manrope", sans-serif
$font-family-M = "Manrope", sans-serif
$font-family-A = "AcariSans", sans-serif

$desktop = 1280px

:root
    --font-manrope $font-family-M
    --font-acari $font-family-A

    --color-primary #a71373
    --color-white #fff
    --color-black #fff

    --bg-color #202124
    --bg-color-dark #202124
    --bg-color-light #f0f3f7
    --color-card #fff
    --color-card-semitransparent rgba(255,255,255,0.1)
    --color-text #202124
    --color-text-2 #55575b
    --color-text-blind #9b9eac
    --color-text-accent #a71373
    --color-text-contrast #fff
    --color-text-2-contrast #babcc6
    --color-text-blind-contrast #64656b
    --color-text-accent-contrast #d03e9d
    --color-button-primary #a71373
    --color-button-primary-light #c5228c
    --color-button-primary-dark #6a0245
    --color-button-primary-contrast #d03e9d
    --color-gray-1 #ebeef3
    --color-gray-2 #eaedf1
    --color-gray-3 #e1e5ea
    --color-gray-4 #353535
    --color-gray-5 #414141
    --color-border #dbdee5
    --color-divider #dfe2e9
    --color-divider-contrast #3b3d43
    --color-success #4ac99b
    --color-success-light rgba(74, 201, 155, 0.12)
    --color-info #70b6f6
    --color-info-light rgba(112, 182, 246, 0.12)
    --color-warning #ffc700
    --color-warning-light rgba(255, 199, 0, 0.12)
    --color-error #f45725
    --color-error-light rgba(244, 87, 37, 0.12)
    --color-accent-light rgba(167, 19, 115, 0.12)

    --color-link var(--color-text-accent)
    --color-hover var(--color-text-accent)
    --color-outline var(--color-text-accent)



